#Experiment No. 04
Consider a suitable text dataset. Remove stop words, apply stemming and feature selection techniques to represent documents as vectors. Classify documents and evaluate precision, recall.

In [1]:
# Importing Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [13]:
# Reading Dataset
data = pd.read_csv("/content/gdrive/My Drive/fake_job_postings.csv")

# Reading top 5 rows of our dataset
data.head()

   job_id  ... fraudulent
0       1  ...          0
1       2  ...          0
2       3  ...          0
3       4  ...          0
4       5  ...          0

[5 rows x 18 columns]

In [14]:
data.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [15]:
# Let us remove the columns which are not necessary
data.drop(['job_id', 'salary_range', 'telecommuting', 'has_company_logo', 'has_questions'],axis=1,inplace = True)

In [16]:
data.head()

                                       title  ... fraudulent
0                           Marketing Intern  ...          0
1  Customer Service - Cloud Video Production  ...          0
2    Commissioning Machinery Assistant (CMA)  ...          0
3          Account Executive - Washington DC  ...          0
4                        Bill Review Manager  ...          0

[5 rows x 13 columns]

In [17]:
# Fill NaN values with blank space
data.fillna(' ', inplace=True)

In [18]:
data.isnull().sum()

title                  0
location               0
department             0
company_profile        0
description            0
requirements           0
benefits               0
employment_type        0
required_experience    0
required_education     0
industry               0
function               0
fraudulent             0
dtype: int64

In [19]:
#combine text in a single column to start cleaning our data
data['text'] = data['title']+' '+data['location']+' '+data['company_profile']+' '+data['description']+' '+data['requirements']+' '+data['benefits']+' '+data['industry']

del data['title']
del data['location']
del data['department']
del data['company_profile']
del data['description']
del data['requirements']
del data['benefits']
del data['required_experience']
del data['required_education']
del data['industry']
del data['function']
del data['employment_type']

In [20]:
data.head()

   fraudulent                                               text
0           0  Marketing Intern US, NY, New York We're Food52...
1           0  Customer Service - Cloud Video Production NZ, ...
2           0  Commissioning Machinery Assistant (CMA) US, IA...
3           0  Account Executive - Washington DC US, DC, Wash...
4           0  Bill Review Manager US, FL, Fort Worth SpotSou...

In [24]:
import nltk
nltk.download('punkt')

text_data = data.text.str.cat(sep=' ')

#function to split text into word
tokens = word_tokenize(text_data)

vocabulary = set(tokens)
print(len(vocabulary))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
188584

In [26]:
import nltk
nltk.download("stopwords")

from nltk.corpus import stopwords

#checking what all words are considered as stopwords
print(stopwords.words("english"))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [27]:
#loading the stopwords
stop_words = set(stopwords.words("english"))

In [28]:
#converting all the text to lower case
data['text'] = data['text'].apply(lambda x:x.lower())

In [29]:
#removing the stop words from the corpus
data['text'] = data['text'].apply(lambda x:' '.join([word for word in x.split() if word not in (stop_words)]))

In [30]:
data['text'][0]

"marketing intern us, ny, new york we're food52, we've created groundbreaking award-winning cooking site. support, connect, celebrate home cooks, give everything need one place.we top editorial, business, engineering team. we're focused using technology find new better ways connect people around specific food interests, offer superb, highly curated information food cooking. attract talented home cooks contributors country; also publish well-known professionals like mario batali, gwyneth paltrow, danny meyer. partnerships whole foods market random house.food52 named best food website james beard foundation iacp, featured new york times, npr, pando daily, techcrunch, today show.we're located chelsea, new york city. food52, fast-growing, james beard award-winning online food community crowd-sourced curated recipe hub, currently interviewing full- part-time unpaid interns work small team editors, executives, developers new york city headquarters.reproducing and/or repackaging existing food52 content number partner sites, huffington post, yahoo, buzzfeed, various content management systemsresearching blogs websites provisions food52 affiliate programassisting day-to-day affiliate program support, screening affiliates assisting affiliate inquiriessupporting pr &amp; events neededhelping office administrative work, filing, mailing, preparing meetingsworking developers document bugs suggest improvements sitesupporting marketing executive staff experience content management systems major plus (any blogging counts!)familiar food52 editorial voice aestheticloves food, appreciates importance home cooking cooking seasonsmeticulous editor, perfectionist, obsessive attention detail, maddened typos broken links, delighted finding fixing themcheerful pressureexcellent communication skillsa+ multi-tasker juggler responsibilities big smallinterested engaged social media like twitter, facebook, pinterestloves problem-solving collaborating drive food52 forwardthinks big picture pitches nitty gritty running small company (dishes, shopping, administrative support)comfortable realities working startup: call evenings weekends, working long hours"

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, plot_confusion_matrix, classification_report, confusion_matrix

In [32]:
# Splitting dataset in train and test
X_train, X_test, y_train, y_test = train_test_split(data.text, data.fraudulent, test_size=0.3)

#Train-test shape
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(12516,)
(12516,)
(5364,)
(5364,)

In [33]:
#  instantiate the vectorizer
vect = CountVectorizer()

In [36]:
# learn training data vocabulary, then use it to create a document-term matrix

# fit
vect.fit(X_train)

# transform training data
X_train_dtm = vect.transform(X_train)

# examine the document-term matrix
X_train_dtm

<12516x86161 sparse matrix of type '<class 'numpy.int64'>'
	with 2325522 stored elements in Compressed Sparse Row format>

In [37]:
# transform testing data (using fitted vocabulary) into a document-term matrix
X_test_dtm = vect.transform(X_test)
X_test_dtm

<5364x86161 sparse matrix of type '<class 'numpy.int64'>'
	with 971631 stored elements in Compressed Sparse Row format>

In [38]:
# Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
nb.fit(X_train_dtm, y_train)

y_pred_nb = nb.predict(X_test_dtm)

In [39]:
#instantiate a Decision Tree Classifier
dt = DecisionTreeClassifier()

#train the model 
# using X_train_dtm (timing it with an IPython "magic command")

%time dt.fit(X_train_dtm, y_train)

CPU times: user 16.8 s, sys: 21.5 ms, total: 16.8 s
Wall time: 17.1 s

DecisionTreeClassifier()

In [40]:
# make class predictions for X_test_dtm
y_pred_class = dt.predict(X_test_dtm)

In [41]:
# Model Accuracy
from sklearn import metrics

print("Accuracy:", accuracy_score(y_test, y_pred_class))
print("Precision:",metrics.precision_score(y_test, y_pred_class))
print("Recall:",metrics.recall_score(y_test, y_pred_class))

Accuracy: 0.9804250559284117
Precision: 0.8211009174311926
Recall: 0.7306122448979592